
.footer{
  background-color: #e6e6e6;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.project_detail{
  padding: 50px;
}
.support_logo{
  width: 20%;
}
.bg{
    /* Full height */
    height: 1200px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main_component{
  padding: 60px;
  margin-top: 30px;
}
.imagearea {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
}